Archive/
Work-Area/
__pycache__/
.gptree_config
gptree_output.txt
src/data/transcript_processor.log
src/data/converted_audio/Armory Audio.mp3
src/data/raw-audio/Armory Audio.m4a
.qodo
venv
tmp/
.idea